[2016-07-19 03:34] kunxin-chor opened #22 "Syntax error in FoldersAPI, line 321"
Error message:
`syntax error, unexpected 'list' (T_LIST), expecting identifier (T_STRING) in C:\Users\Kun\Documents\octesys\vendor\docusign\esign-client\src\Api\FoldersApi.php on line 321`

`list` is a PHP reserved keyword; it can't be used as a method name unless you're running PHP 7.

[2016-07-19 10:12] mdesign83 opened #23 "Fatal error: Class 'DocuSign\eSign\Api\EnvelopesApi\ListStatusChangesOptions' not found"
Dear Devs,

Composer can't load the subject class.
Please generate separate php files per namespaces/classes in under proper directory path.

[code]

The class in the file src/Api/EnvelopesApi.php instead of src/Api/EnvelopesApi/ListStatusChangesOptions.php regarding to its namespace.
Relating docs to your psr-4 composer setting: http://www.php-fig.org/psr/psr-4

Best regards,
Karoly

[2016-09-19 23:07] builderux opened #24 "time out error"
The API shows the error

Exception: API call to https://demo.docusign.net/restapi/v2/login_information timed out: a:26:{s:3:"url";s:54:"https://demo.docusign.net/restapi/v2/login_information";s:12:"content_type";N;s:9:"http_code";i:0;s:11:"header_size";i:0;s:12:"request_size";i:0;s:8:"filetime";i:-1;s:17:"ssl_verify_result";i:1;s:14:"redirect_count";i:0;s:10:"total_time";d:0.624;s:15:"namelookup_t

[2016-09-20 12:48] OlexandrPopov opened #25 "Missing resend_envelope parameter for /v2/accounts/{accountId}/envelopes/{envelopeId}/recipients endpoint"
At present there is no way to set `resend_envelope` paramter in the \DocuSign\eSign\Api\EnvelopesApi::updateRecipients method. However the parameter is described in the [documentation](https://www.docusign.com/p/RESTAPIGuide/RESTAPIGuide.htm#REST%20API%20References/Modify%20or%20Correct%20and%20Resend%20Recipient%20Information.htm?Highlight=resend_envelope)

[2016-09-20 12:59] OlexandrPopov commented on #25
As I understand it should be added in the same way as it's done for `\DocuSign\eSign\Api\EnvelopesApi::update` method. So, the declaration of the method will look like this:

`public function updateRecipients($account_id, $envelope_id, $recipients = null, EnvelopesApi\UpdateOptions $options = null)`

And the following code should be added to the method's body:

[code]

[2016-11-03 12:31] LarryKlugerDS opened #27 "Need config system to supress info messages"
See http://stackoverflow.com/questions/40386390/suppressing-error-message-when-downloading-files

[2016-11-11 16:42] tgrowden opened #29 "Error in README.md, line 75"
Line 75 in [README.md](https://github.com/docusign/docusign-php-client/blob/master/README.md)
`$host = loginAccount->getBaseUrl();`
should be
`$host = $loginAccount->getBaseUrl();`

[2016-11-15 06:53] freekzero opened #30 "Wrong property type"
DocuSign\eSign\Model\SignHere::scale_value is set as type object but should be string per https://www.docusign.com/p/RESTAPIGuide/Content/REST%20API%20References/Tabs/Sign%20Here%20Tab.htm

Using object causes a crash when a template with a SignHere is serialized. Changing scale_value to string fixed the issue.

Note this same issue appears in other SDKs, or at least in the Java SDK anyway, and I

[2016-11-17 13:34] mkardakov commented on #22
exactly. I have the same issue

[2017-04-06 01:14] trickeyone opened #36 "ObjectSerializer opens SplFileObject with write-only permissions"
The ObjectSerializer opens the SplFileObject instance with write-only permissions. This makes doing any further operations on the file very difficult and usually requires re-opening the SplFileObject with a new instance.

If would be beneficial is the new instance of SplFileObject was changed from (ObjectSerializer:265):
[code]
to
[code]

Making it capable of rewinding and reading from the same Sp

[2017-05-01 19:27] benburleson opened #38 "Class '\DocuSign\eSign\Model\DateTime' not found"
Using the `TemplatesApi` `get()` method, it's failing on deserialize with the error trying to find the `\DocuSign\eSign\Model\DateTime` class (which does not exist, as far as I can tell).

Is there something I can do to fix this? Is this somehow dependent on my template data?

[2017-05-09 00:55] astridblahblahblah opened #39 "EnvelopesAPI getDocument method signature order change in v3"
The order for `$document_id` and `$envelope_id` has changed for EnvelopesApi->getDocument between versions:

V2
`public function getDocument($account_id, $envelope_id,  $document_id)`

V3
`public function getDocument($account_id, $document_id, $envelope_id, EnvelopesApi\GetDocumentOptions $options = null)`

Any particular reason why these two have been interchanged? Please let me know if this wasn

[2017-05-14 15:52] theBull commented on #38
have you tried doing something like:

`use DocuSign\eSign\Model\DateTime` at the top of your .php file and then using the class as such in your code:

`new DateTime()` ?

[2017-05-14 15:53] theBull commented on #23
after the `require` statement, try:

`use DocuSign\eSign\Api\EnvelopesApi\ListStatusChangesOptions;`

and then replace:
`$options = new DocuSign\eSign\Api\EnvelopesApi\ListStatusChangesOptions();`
to:
`$options = new ListStatusChangesOptions();`

[2017-05-15 16:08] benburleson commented on #38
It's not my PHP file, it's the docusign library. There seems to be some history of that class existing at some time, but I can't tell if it was deprecated and they never cleaned up a reference to it or what.

I was hoping someone from Docusign would know, but they are surprisingly silent here in their own repo.

[2017-05-22 20:08] mdesign83 commented on #23
Dear @theBull,
Have you tried this? Is it work for you?

I made the steps in the readme but got the same fatal error:
1. composer require docusign/esign-client
2. create a test.php with content
[code]
I receive these messages:
PHP 5.6.19: Fatal error: Class 'DocuSign\eSign\Api\EnvelopesApi\ListStatusChangesOptions' not found in bug.php on line 4
PHP 7.1.2: Fatal error: Uncaught Error: Class 'DocuS

[2017-06-14 18:56] #38 closed

[2017-06-14 22:09] gsnavin commented on #22
This method has been renamed to "listItems" with the latest version released.

[2017-06-14 22:09] #22 closed

[2017-06-14 22:21] gsnavin commented on #39
@astridblahblahblah Thanks for pointing it out. Parameters in the swagger spec that we use to generate the php-client itself have been moved around. I will follow up on this issue internally and make the necessary changes. I would recommend you update your calls if that is a blocker for now. Sorry for the inconvenience.

[2017-06-14 22:21] #39 closed

[2017-06-15 19:14] gsnavin commented on #30
@freekzero First off, sorry for the delayed response.

You are referring to our legacy documentation. Please refer to our new API documentation
https://docs.docusign.com/esign/restapi/Envelopes/Envelopes/create/#request

Also we have updated the PHP client since you last referred, please check it out and let me know if you have any questions.

[2017-06-15 19:14] #30 closed

[2017-06-15 22:27] gsnavin commented on #27
@larrykluger This should be resolved with version 3.0

[2017-06-15 22:27] #27 closed

[2017-06-15 22:28] gsnavin commented on #29
@tgrowden Thanks for pointing it out. This should be resolved now.

[2017-06-15 22:28] #29 closed

[2017-06-15 23:30] gsnavin commented on #24
@builderux Please reopen the issue if you still have the issue.

[2017-06-15 23:30] #24 closed

[2017-06-15 23:34] gsnavin commented on #23
@mdesign83 Please use the following and it should work. You can find working example in the unit test cases. Hope that helps.
$options = new \DocuSign\eSign\Api\EnvelopesApi\ListStatusChangesOptions();

[2017-06-15 23:39] gsnavin commented on #36
@trickeyone Thanks for bring this our attention, we will review this internally and make the change is we deem necessary. Until then please try reopening the file with a new instance for other operations.
Sorry for the inconvenience.

[2017-06-15 23:39] #36 closed

[2017-06-15 23:57] gsnavin commented on #25
@OlexandrPopov Thanks for pointing this out. I understand the documentation for the API here is a bit miss leading but unfortunately you cannot use the updateRecipients to resend envelope existing recipients. You have to use the \DocuSign\eSign\Api\EnvelopesApi::update to resend envelopes for now. Will work with the documentation team to update it accordingly.

[2017-06-15 23:57] #25 closed

[2017-06-16 07:24] OlexandrPopov commented on #25
@gsnavin Could you please describe why it can't be used in that way in more detail or provide a link to the documentation where it's described? Since our project is live now I have to substantiate to the project owner that something isn't appropriate anymore and needs to be reworked. Thanks in advance.

[2017-06-17 06:05] mdesign83 commented on #23
The main problem is the generated php source is not PSR-4 compatible:
http://www.php-fig.org/psr/psr-4

But neither EnvelopesApi directory exists, nor ListStatusChangesOptions is a separate file.

If I split EnvelopesApi.php file to separate classes in EnvelopesApi directory, everything is fine.

[2017-08-09 08:28] optii opened #42 "Class EnvelopesApi\CreateEnvelopeOptions() Not found with composer"
Hi,

I'm posting this here, but it could be composer related. Including the docusign eSign client via composer on a fresh Syfmony 3 install was giving me an error of:

[code]

Despite the fact that the class was correctly spelled. (Copied from another working project). Changed composer version to the same that was used on the other project with no avail.  Removed all vendors and .lock file, with c

[2017-08-10 12:35] blacksage21 opened #43 "Creating Embed Request Sample"
Is there somewhere i can find sample code for creating an Embedded Signing request using the SDK?
This of course using a file not a template. Preferably using a link to the file and not the base64 content

[2017-09-06 23:14] dqhendricks opened #47 "Requirements say only PHP 5.3+ is required, but PHP 5.4 or possibly higher is actually required."
Was trying to run this on a server with PHP 5.3.5, since the requirements on this page say PHP 5.3+ is required. I kept getting an internal server error when trying to run the example code. After poking around in the internals, I noticed that one of the files was using short hand array instantiation:

`$var = [];`

Short hand array instantiation was not introduced to PHP until version 5.4, and tha

[2017-09-08 02:08] gsnavin commented on #47
@dqhendricks Thanks for pointing it out. We have updated the README accordingly.

[2017-09-08 02:08] #47 closed

[2017-09-08 02:11] gsnavin commented on #43
@blacksage21
Unfortunately you cannot specify a link to a file, have to send an envelope using base64 only.

Here are the links to  example code to request embedded sending/signing

Sending:
https://github.com/docusign/docusign-php-client/blob/master/test/UnitTests.php#L283

Signing:
https://github.com/docusign/docusign-php-client/blob/master/test/UnitTests.php#L303

[2017-09-08 02:11] #43 closed

[2017-09-19 12:32] PrakashInfiniti opened #48 "Class 'Number' not found on Object Serializer"
On line 276 while calling listTabs in envelopeapi

[2017-09-19 12:34] PrakashInfiniti commented on #48
Namespace Path( \DocuSign\eSign\Model\) is not included while deserializing happening

[2017-10-02 12:10] fvozar opened #49 "Update project on packagist"
Currently composer installs v3.0.0 version with syntax error fixed in v3.0.1. Please publish new version.

[2017-10-24 01:31] northern commented on #49
Hi there. Can we please do this? It appears that bugs have been fixed but if Packagist isn't synced, no one will receive the latest version.

https://packagist.org/packages/docusign/esign-client

Thanks!

[2017-10-25 22:15] gsnavin commented on #49
This has been fixed. Sorry for the delay.

[2017-10-25 22:15] #49 closed

[2017-11-01 02:43] northern commented on #48
I'm running into a similar problem. However, the message I receive is:

    PHP Fatal error:  Class 'Number' not found in vendor/docusign/esign-client/src/ObjectSerializer.php on line 274

I believe that there might be an issue/conflict with the Laravel framework.

To replicate the problem. I'm using PHP 5.6.31. I have the following in my `composer.json`:
[code]
This will get an older version of L

[2017-11-20 18:26] irufus opened #50 "Send document for signing example"
Is there an example that shows how to send a document for signing?

[2017-11-20 23:00] irufus commented on #50
If anyone comes across this situation I figured it out. What you have to do is add the document object to the envelope_definition. Also there is no TemplateId to set as the API will reject your request.

[2017-11-22 09:01] apocalyarts commented on #48
+1

Exception in ObjectSerializer.php (line 274)

Using Laravel 5.5 and latest DocuSign API

[2017-11-28 23:14] gitspider commented on #48
I am experiencing the problem. I use PHP 7.0, Laravel 5.5 and the latest version of docusign-php sdk.

[2017-11-28 23:17] gitspider commented on #48
[code]
This is error stacktrace.

[2017-12-03 13:43] bhps69 opened #51 "Result"
Can we have any return statements to have some thing to believe to say this worked and the request has been sent. also in the test case, i encounter the same issue.

[2017-12-27 03:40] juanvillegas opened #52 "How to use the updateProfileImageWithHttpInfo function?"
Trying to update a profile image for a User using the api, found this function but can really figure out how to use it to send the profile picture? The documentation here is also not clear: https://docs.docusign.com/esign/restapi/Users/Users/updateProfileImage/

I understand I should PUT the image, but under which name is the API expecting it?

Regarding the SDK, I can see there are two variables

[2018-01-18 04:53] newtekDev commented on #48
See ticket #41 and if you swap out this ObjectSerializer.php for the default one - https://github.com/trickeyone/docusign-php-client/blob/cc3483c44c301ad7c0d42e41094e70dfde5f68ef/src/ObjectSerializer.php

Worked for me

[2018-01-18 16:31] newtekDev opened #53 "DocuSign populating template fields not working"
I am trying to take one of our tenplates saved in docusign and create en envelope with some Tabs pre-populated, but they keep turning up blank. What am I doing wrong?

Here's my API Call:

POST https://demo.docusign.net/restapi/v2/accounts/*********/envelopes HTTP/1.1

**Accept:** application/json
**Accept-Encoding:** gzip,deflate,sdch
**Accept-Language:** en-US,en;q=0.8,fa;q=0.6,sv;q=0.4
**Cache-

[2018-01-18 16:35] newtekDev commented on #53
Nevermind, the issue was that I was looking at the document from the sender perspective, I needed to look from the recipient and it was filled out.

[2018-01-18 16:35] #53 closed

[2018-01-18 19:17] mmallis87 commented on #53
@newtekDev glad you had it figured out. As a side note, it's discouraged to share your bearer token publicly, even if it is a demo token. Happy DocuSigning!

[2018-02-05 15:02] sumbria opened #54 "400 Error"
Getting following error while creating envelope: Please guide me what I  am doing wrong.

           $envelopeApi = new EnvelopesApi($apiClient);
            $sign_here = new SignHere();
            $sign_here->setXPosition(25);
            $sign_here->setYPosition(50);
            $sign_here->setDocumentId(1);
            $sign_here->setPageNumber(1);
            $sign_here->setRecipientId(1);

[2018-03-06 20:55] decadeofdefeat opened #55 "V2 Fatal Error when resending envelope"
My environment is currently limited to PHP 5.5.9 so I'm attempting to put V2 of this software into production. (Composer requires 5.5.36 to install v3).

When I attempt to resend an envelope, I run into errors with ObjectSerializer:
[code]
[code]

Any help would be appreciated!

[2018-03-07 21:15] decadeofdefeat commented on #55
Nevermind, I forgot to pass an empty Envelope model.

[2018-03-07 21:15] #55 closed

[2018-03-17 17:55] td234 opened #56 "GetDocument without writing to file for PCI compliance"
Hi,

This is really just a suggestion for a possible feature that would be nice. When I use getDocument it creates a file in /tmp. This file could potentially have client sensitive information and with most merchant accounts this should not be saved on a hard rive. I would suggest it would be helpful to be able to getDocument and get the document bytes in a string that could then be manipulate as

[2018-03-28 20:09] trickeyone opened #57 "No ability to indicate TLS version"
My company was just contacted by someone from DocuSign indicating that DocuSign is moving away from TLS 1.0 to TLS1.2. However, there is no way to set this in the Configuration and no way to set it in a curl config file. Can a new config setting be introduced to allow passing the `CURLOPT_SSLVERSION` setting? (i.e. `CURLOPT_SSLVERSION => CURL_SSLVERSION_TLSv1_1 | CURL_SSLVERSION_TLSv1_2`)

[2018-03-29 20:52] td234 opened #58 "Use of reserved word List for Model"
I am sure I am not the first to encounter this, but I was unable to find a solution while Googling.

I am trying to add a drop-down list to my document. At the top of my model I am adding these namespaces:

`use \DocuSign\eSign\Model\List;
use \DocuSign\eSign\Model\ListItem;
`
When doing so I get this error because "List" is a reserved word in PHP.

`A PHP Error was encountered

Severity: Parsing

[2018-04-10 10:56] Ohda opened #59 "testConfig vs TestConfig"
Hello,

You have a testConfig.php and a TestConfig.php inside the tests folder.
I may generate issues on windows/unix...

[2018-04-24 10:12] Ohda opened #60 "Serializer issue."
When i try to call
`$templateApi = new \DocuSign\eSign\Api\TemplatesApi($apiClient);`
`$template = $templateApi->get($accountId, '[id-template]');`

I've got this error
`Fatal error: Class 'Number' not found in _vendors/docusign/esign-client/src/ObjectSerializer.php on line 274`

Looks like the serializer is waiting for **number** and not **Number**. (ObjectSerializer.php line 254)

Edit : Pull re

[2018-05-04 16:36] danieldevsquad commented on #59
![image](https://user-images.githubusercontent.com/23129061/39640054-049415fa-4f87-11e8-8418-919a2baf927c.png)

[2018-06-08 16:29] Si0n commented on #59
This must be resolved asap - can't install SDK on Ubuntu as a result of names conflict

[2018-06-08 21:37] #59 closed

[2018-06-08 21:38] gsnavin commented on #59
Thanks @Ohda for the PR, I have merged it now.

[2018-06-11 12:44] Ohda commented on #60
Hi there,
Just to warn the project that this Fatal Error appear each time the api return a Number...

To go in production with this vendor, our team was forced to fork the repo and patch it by ourself.

[2018-07-04 20:01] kendalltristan commented on #60
I can confirm I'm also seeing this and would greatly appreciate if the PR in question could be merged. Thanks.

[2018-07-26 12:12] MichaelElementary commented on #58
@td234  I have also just run into this issue
The problem is that this SDK is not compatible with PHP5.4 as the repos would have you believe.
List is reserved word before PHP7 and cannot be used in namespaces and class definitions

You'll need to upgrade PHP on your server

[2018-08-23 12:08] alexcroox commented on #54
@sumbria did you ever resolve this? Having the same issue

[2018-08-23 14:36] Ohda commented on #54
Hi,
I use this kind of code to have a clear error message on this vendor.
[code]

[2018-09-11 22:35] rfc12399 commented on #58
All I have this exact same issue, but I am running PHP 7.1:

$tt_state = new \DocuSign\eSign\Model\List();
$tt_state->setTabLabel("state");
$tt_state->setValue($sign_data['p_state']);

[11-Sep-2018 15:38:54 America/New_York] PHP Parse error:  syntax error, unexpected 'List' (T_LIST), expecting identifier (T_STRING) in C:\inetpub\wwwroot\allstardriveredonline_new\docusign\create_envelope.php on lin

[2018-09-11 22:46] crocodile305 opened #63 "I have a problem to autopopulate tabs for template"
I'm trying to add some values to template tabs but not act correct.
This is my code snap.

 $templateRole = new DocuSign\eSign\Model\TemplateRole();
  $templateRole->setClientUserId($email);
  $templateRole->setEmail($email);
  $templateRole->setName($recipientName);
  $templateRole->setRoleName($templateRoleName);

  $textTab = new \DocuSign\eSign\Model\Text();

  $textTab->setTabLabel("Field Lab

[2018-10-02 15:19] arvenom commented on #58
same issue here

[2018-10-02 15:50] rfc12399 commented on #58
@arvenom  - I was working directly with Docusign's professional services team at the time of my last post and they ended up confirming that it was a defect in the PHP API and said they would fix it at some point, but I wouldnt hold your breathe waiting :)

[2018-10-03 10:44] Ohda opened #64 "Cannot update a property to Null value"
When the SDK is calling the API for an update, only the properties that are set with a not null value are exported.
This lead to an issue => No way to update a property to a NULL value.

I was trying to switch an embded signer to remote by unsetting the user_client_id but i'am stuck.

[2018-10-03 12:48] sentiasa opened #65 "INVALID_REQUEST_BODY if I don't use `json_encode` on createEnvelope()"
When trying to createEnvelope, it was throwing this error.
[code]
After debugging, I figured out on [EnvelopesApi.php - L2876](https://github.com/docusign/docusign-php-client/blob/master/src/Api/EnvelopesApi.php#L2876), I had to wrap `json_encode($httpBody)`.

You can see my createEnvelope code here: https://stackoverflow.com/questions/52627314/docusign-cant-set-sent-on-createenvelope

Was I doing

[2018-10-12 20:30] acooper4960 commented on #65
This appears to be answered on github. Was that solution sufficient?

[2018-10-12 20:31] acooper4960 commented on #65
This appears to be answered in stackoverflow, was that sufficient?

[2018-10-12 20:33] acooper4960 commented on #64
are you able to work around this, ie. with an empty string?

[2018-10-12 20:39] acooper4960 commented on #63
Hello, what part is not working correctly?

[2018-10-12 20:44] acooper4960 commented on #58
We need to add custom logic in our swagger code gen tool to properly map this word. I have created an internal ticket for our team to address this.

[2018-10-12 21:49] sentiasa commented on #65
That's right - it was my mistake actually.

[2018-10-12 21:49] #65 closed

[2018-10-13 03:55] Ohda commented on #64
My workaround is : add a clone remote signer (with a routing_order+1 to avoid completed status) then delete the embded signer.
I will try to test how API with the empty string.

[2018-10-23 12:34] salines commented on #53
Hello, I have same problem.

https://stackoverflow.com/questions/52934613/how-to-post-text-to-template-using-php-sdk

Any Help?

[2018-10-24 15:46] salines opened #66 "Populate Text Field - Api, PHP"
Hello,

- We created / upload template in appdemo
- We add text fields via admin interface
- we want to populate this text field when run php script (docusign-php-client) or using simple CURL scripts from api documentations.
- when run php script, we send email, but in document is not populated our text fields.

How to setup this php client to add our text in uploaded template?

SO:
https://stacko

[2018-12-12 07:42] kuntal-mybrokerbee opened #68 "Stripe Integration"
We are using "createEnvelope" to send documents for different templates with stripe. In all of our template, there's different amount of stripe. Which we would like to pass from api while sending docs from api. Is there any possible way to pass stripe charge amount from api rather than define static into template. This would be very much helpful to use a single template with dynamic stripe amount

[2018-12-12 08:09] mmallis87 commented on #68
@kuntal-mybrokerbee TL/DR this is a working example in PHP: https://github.com/docusign/eg-03-php-auth-code-grant/blob/master/src/EG014CollectPayment.php

Using a template will create a [formulaTab](https://developers.docusign.com/esign-rest-api/reference/Templates/Templates/get/#formulaTab) that you can get using `TemplatesApi::getTemplate` call.

When you call `EnvelopesApi::createEnvelope`, you

[2018-12-13 15:02] martinolson opened #69 "Error installing with composer"
Failed to execute unzip -qq  '/Users/username/projects/vendor/docusign/esign-client/23a7f5708e3ef7cac0e30bbdabcc91fd' -d '/Users/username/projects/vendor/composer/73a8a353'

replace /Users/username/projects/vendor/composer/73a8a353/docusign-docusign-php-client-bf4c4af/test/testConfig.php? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

    The archive may

[2019-01-10 09:44] davidloubere commented on #60
Hi @acooper4960, do someone at DocuSign plans to release a fix shortly? It would be greatly appreciated. ICYMI, a fork of DocuSign repository by @trickeyone  seems to do the trick.

[2019-01-10 13:56] davidloubere commented on #60
For those stuck with the bug, you may also consider extending `DocuSign\eSign\ApiClient` and `DocuSign\eSign\ObjectSerializer` :

[code]

[code]

[2019-01-24 22:59] jkofoedGC commented on #69
I have the same issue, any thoughts?

$ composer require docusign/esign-client
Using version ^3.0 for docusign/esign-client
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 1 install, 0 updates, 0 removals
  - Installing docusign/esign-client (3.0.1): Loading from cache
    Failed to execute un

[2019-01-29 09:50] Ohda commented on #69
This has been fixed by : https://github.com/docusign/docusign-php-client/pull/61
But no new tag have been realeased.
Use master branch if you want the fix.

[2019-02-27 07:21] urdhvatech opened #70 "Serializer issue: Class '\DocuSign\eSign\Model\array' not found"
When I add a Dropdown on the DocuSign template and try to get the template details using api method

![docusignapi-error1](https://user-images.githubusercontent.com/5037993/53472629-32967900-3a8e-11e9-93d9-e052e77f56b4.png)

`$templateApi = new DocuSign\eSign\Api\TemplatesApi($this->getApiClient());
$oEnvelopeTemplate = $templateApi->get($this->getAccountId(), $rs_template_id);`

I get the error

[2019-03-04 23:32] plweller3 opened #71 "Example use of LoginInformation fails on Count()"
While the library itself seems to work with PHP 7.2, the use of count() on an instantiation of LoginInformation fails.  The fix is to implement the Countable interface on LoginInformation:

          class LoginInformation implements ArrayAccess, \Countable

And then add a count method in the class to access container:

          public function count()
         {
                return count($thi

[2019-03-05 07:51] nsaumini opened #72 "Send Documents Using Bulk Send Example"
Hi, Can anyone guide me on how to add bulk recipient to an envelope.

[2019-03-18 13:30] LarryKlugerDS commented on #72
Hi @nsaumini,

Are you sure you want to use Bulk Send? It is often easier to just make a loop, sending one envelope after another.

If you do decide to use Bulk Send, see the instructions on the [BulkSend resource page.](https://developers.docusign.com/esign-rest-api/reference/BulkEnvelopes/BulkEnvelopes)

The actual sending is done via the [Envelopes::create](https://developers.docusign.com/esign

[2019-03-18 13:30] #72 closed

[2019-03-18 13:38] LarryKlugerDS commented on #71
Hi @plweller3,

Did you know that the LoginInformation SDK method cannot be used with OAuth authentication methods? And that only OAuth authentication should be used for new integrations with DocuSign?

Unfortunately the LoginInformation method is poorly named.

We have PHP code examples for both [OAuth Authorization Code Grant](https://github.com/docusign/eg-03-php-auth-code-grant) (when the user

[2019-03-19 10:22] LarryKlugerDS commented on #70
Hi @urdhvatech,
I apologize for the slow response.

Thank you for the bug report. This is a known problem, see [issue 58](https://github.com/docusign/docusign-php-client/issues/58). It is covered by internal ticket DCM-2915

The Engineering group has told me that they do have the bug on their roadmap to fix. Unfortunately we don't have a specific fix date yet.

In the meantime, as a work-around, y

[2019-03-19 10:30] #70 closed

[2019-03-19 10:34] LarryKlugerDS commented on #71
I have created internal ticket DCM-3190 for this request.

[2019-03-19 12:23] LarryKlugerDS commented on #69
Thank you for the problem report.
And thank you to @Ohda for the pull request.

I have started internal ticket DCM-3191 to have the fix processed.

[2019-03-19 12:30] LarryKlugerDS commented on #68
Hi @kuntal-mybrokerbee,

Please close the issue unless you wish to add to it.

Thanks,
Larry

[2019-03-19 12:32] LarryKlugerDS commented on #66
Hi,
I apologize for the slow response. Is this still an issue for you?

You can set the values of tabs that are defined in a template when you create the envelope.

See [example 17](https://github.com/docusign/eg-03-php-auth-code-grant/blob/master/src/EG017SetTemplateTabValues.php) which does this.

[2019-03-31 11:11] #68 closed

[2019-03-31 11:11] #66 closed

[2019-03-31 11:12] #64 closed

[2019-03-31 11:23] LarryKlugerDS commented on #48
Thank you for the problem report. And please accept my apologies for the very slow DocuSign staff replies on this issue. We have reorganized so we can provide faster response.

This issue now has internal bug report # DCM-3210

We are working on it.

[2019-03-31 11:23] LarryKlugerDS commented on #60
Thank you for the problem report. And please accept my apologies for the very slow DocuSign staff replies on this issue. We have reorganized so we can provide faster response.

This issue now has internal bug report # DCM-3210

We are working on it.

[2019-03-31 11:29] LarryKlugerDS commented on #57
DocuSign now supports TLS v 1.1 and later. If your curl library (and associated SSL/TLS library) is up to date then your application will auto-negotiate the TLS protocol version with the server (DocuSign).

There's only a problem if the application's supported TLS versions don't overlap with the server's version.

Setting an explicit TLS version is not recommended since an old (and not updated) ap

[2019-03-31 11:29] #57 closed

[2019-03-31 11:48] LarryKlugerDS commented on #56
I have created internal ticket DCM-3211 to address this InfoSec issue. Thank you for the report.

[2019-03-31 11:49] LarryKlugerDS commented on #52
I apologize for the slow response to questions and issues. We have reorganized to give you responses sooner.

Please advise if this is still an open issue for you.

Thank you,
Larry

[2019-03-31 11:53] LarryKlugerDS commented on #51
I apologize for the very slow response to your question. We have reorganized so questions will be answered sooner.

Regarding return values: The SDK's methods return the response object defined by the underlying DocuSign eSignature REST API. In most cases, there is a return value.  For example, the createEnvelope call returns the envelopeId and related information.

For methods that don't have a r

[2019-03-31 11:53] #51 closed

[2019-03-31 11:54] LarryKlugerDS commented on #50
We now have a complete set of examples. See the repository [eg-03-php-auth-code-grant](https://github.com/docusign/eg-03-php-auth-code-grant)

[2019-03-31 11:54] #50 closed

[2019-03-31 11:56] LarryKlugerDS commented on #42
I apologize for the very slow reply to your issue.

Is this still an issue?

Thanks,
Larry

[2019-03-31 11:57] LarryKlugerDS commented on #63
Closing due to no further request on the thread.

[2019-03-31 11:57] #63 closed

[2019-03-31 13:35] juanvillegas commented on #52
Hey Larry, thanks for your answer. I'm no longer participating in that project so I'm gonna close the thread now.

Best,
Juan

[2019-03-31 13:35] #52 closed

[2019-04-02 06:21] optii commented on #42
Hi, I'm no longer using this library so I could not say if it is still an issue or not.

[2019-04-02 10:06] LarryKlugerDS commented on #42
Ok, thank you.

[2019-04-02 10:06] #42 closed

[2019-04-13 14:41] astroanu commented on #48
is this fixed now? will updating the api client work ?

[2019-04-13 14:42] astroanu commented on #60
Is this fixed?

[2019-05-14 07:14] techtic-harshad opened #75 "set custom field input for envelope"
I have created custom field in docusign(Envelope Custom Fields) but not able to set it out using this package in Laravel, so can you please help me to figure it out.

$envelope_definition = new EnvelopeDefinition([ 'status' => "sent", 'composite_templates' => $compositeTemplate, 'custom_fields' => [ "text_custom_fields" => [ ["name" => "abcID", "value" => 11] ] ] ]); This is the code that may work

[2019-05-15 13:18] Muspi commented on #48
Hello, is this fixed? I have same problem.

[2019-05-15 20:32] trickeyone commented on #57
Sorry for the late reply. The reason we needed it was explicitly because the version of libcurl on the system in question was constantly defaulting to TLS 1.0. TLS 1.2 was available, but it wasn't being used. We've since upgraded the system and TLS 1.2 is being used by default, now.

[2019-05-22 14:50] dalmarcolucas opened #76 "INVALID_REQUEST_BODY in EnvelopeRecipients: update"
Im getting the envelopes recipients using the GET 'envelopes/{envelope_id}/recipients' endpoint.

After that i add the field 'clientUserId' and try to update the envelope, using the POST envelopes/{envelope_id}/recipients' endpoint with the very same array that i got from return from GET method as body.

But is returned the following error:

"The request body is missing or improperly formatted. Ca

[2019-06-04 10:31] LarryKlugerDS commented on #76
Duplicate of https://stackoverflow.com/questions/56261355/invalid-request-body-in-enveloperecipients-update

I have filed an internal ticket, DCM-3323

[2019-06-04 10:35] LarryKlugerDS commented on #75
The EnvelopeDefinition includes the **customFields** attribute. I'd set your field there.

[2019-06-19 12:11] abarke opened #78 "v4.0.0 Incorrect ApiException exception references"
ApiException class was moved, however references/phpdocs throughout the code do not point to the new location.

e.g.
\DocuSign\eSign\Client\ApiException is referenced in many places as \DocuSign\eSign\ApiException which my editor PHPStorm complains about it not existing.

I also noticed that the PHP code is not to PHP best practices in places.
I would recommend using phpstan to scan the code: http

[2019-06-19 12:35] abarke commented on #78
Here is the code analysis from PhpStorm:

I suggest a serious tidyup is needed. This is not production ready code in my eyes.

![image](https://user-images.githubusercontent.com/34715541/59765889-5846c880-929f-11e9-9623-4fc88aa78798.png)

![image](https://user-images.githubusercontent.com/34715541/59765804-27669380-929f-11e9-8bf2-9ee948c12873.png)

[2019-06-24 20:19] robotdoug opened #80 "Class '\DocuSign\eSign\Model\OfflineAttributes' not found"
When using the `EnvelopesApi::listRecipients` method, it fails during the deserialization process due to not being able to find `\DocuSign\eSign\Model\OfflineAttributes`.

Appears the class was present in v3, but has been removed in v4 of the library.

[2019-06-25 20:20] marksark commented on #69
I'm having this issue currently, has this fix been pushed?

[2019-06-25 20:31] jkofoedGC commented on #69
@marksark Since they didn't release the fix you have to point your composer to the master branch.  On your composer file do: "docusign/esign-client": "master@dev"

[2019-07-01 16:49] #75 closed

[2019-07-01 16:56] LarryKlugerDS commented on #78
Thank you for the bug report. I have filed internal bug DCM-3372

Re: I also noticed that the PHP code is not to PHP best practices in places.
I would recommend using phpstan to scan the code: https://github.com/phpstan/phpstan

I have filed enhancement request DCM-3373

[2019-07-01 17:00] LarryKlugerDS commented on #80
Thank you for the bug report. I have filed internal report DCM-3374

[2019-07-04 18:02] bbouchard95 opened #82 "Uncaught Error: Class 'DocuSign\\eSign\\ApiClient' not found"
To fix this change DocuSign\eSign\ApiClient($config); to DocuSign\eSign\Client\ApiClient($config);

[2019-07-05 20:18] gsnavin commented on #82
@bbouchard95 Thanks for the recommending a fix. Can you please let us know which version of the SDK are you using. Also where exactly are you asking this to be changed?

[2019-07-05 20:32] bbouchard95 commented on #82
I'm using v4. I apologize, I just realized I should have issued this at https://github.com/docusign/qs-php instead of here. qs-01-php-embed-signing-ceremony.php and qs-02-php-send-envelope.php both produce this error. I'll copy this issue and bring it there.

[2019-07-11 13:07] nie7321 opened #83 "ApiException#getResponseObject is now a serialized PHP object"
In v3.0.1, calling `ApiException#getResponseObject()` would return an `ErrorDetails` object:

![Screen Shot 2019-07-11 at 8 02 59 AM](https://user-images.githubusercontent.com/27235866/61053180-a63c8100-a3b2-11e9-967a-045c3e96d20d.png)

In the v4.0.0 release, this now returns a serialized PHP object as a string:

![Screen Shot 2019-07-11 at 7 56 21 AM](https://user-images.githubusercontent.com/272

[2019-07-11 13:17] nie7321 commented on #83
The break looks like it is being caused by this new bit of code: https://github.com/docusign/docusign-php-client/blob/master/src/Client/ApiClient.php#L326

It was not present in v3.0.1:

![Screen Shot 2019-07-11 at 8 16 47 AM](https://user-images.githubusercontent.com/27235866/61054001-421abc80-a3b4-11e9-806b-
d681e9b539d8.png)

[2019-07-12 20:42] gsnavin commented on #82
@bbouchard95 thanks for the update.  I will close this issue from here.

[2019-07-12 20:42] #82 closed

[2019-07-22 14:14] nie7321 commented on #83
This isn't really a question. This is an undocumented breaking change.

[2019-07-30 08:48] robotdoug commented on #80
Hi @LarryKlugerDS, any idea when a fix for this will be implemented?

[2019-07-30 18:46] LarryKlugerDS commented on #80
Hi @robotdoug , unfortunately there is no schedule yet. I have asked the product and engineering managers to consider it for an upcoming sprint. I will update this thread as I hear more.

[2019-08-05 08:03] LarryKlugerDS commented on #83
Thank you for raising this issue. I have filed internal report DCM-3466. I will also ask for a new regression test to be added.

[2019-08-16 19:37] acooper4960 commented on #58
The model \DocuSign\eSign\Model\ModelList, should be used in place of  \DocuSign\eSign\Model\List. This will c

[2019-08-16 19:37] #58 closed

[2019-08-16 19:38] acooper4960 commented on #58
The model \DocuSign\eSign\Model\ModelList, should be used in place of  \DocuSign\eSign\Model\List. This SDK prepends the word Model in front of models with keyword conflicts

[2019-10-08 22:06] dqhendricks opened #86 "Instantiating the List model causes internal server error."
The following code causes internal server error:

`$blah = new DocuSign\eSign\Model\List();`

If I replace "List" with any other model class name, the above code seems to work fine.

[2019-10-08 22:22] dqhendricks commented on #86
Looking through the closed issues, I saw mention of using ModelList class name instead. I tried this. I can now create the model class without error, but the 500 error still happens after, somewhere during adding the tab to the document and sending.

[2019-10-09 16:47] #86 closed

[2019-10-14 09:59] 4c0n opened #87 "Contribution/Building instructions"
Hi,

I and perhaps others would like to contribute to this library. However there are no instructions with regards to building a new version of this package.

Could you please provide/document how to generate/build this package?

In the comments I saw that the classes have been generated using `swagger-codegen`. I have tried to generate the same classes as in this library using `swagger-codegen-cl

[2019-10-16 06:58] 4c0n commented on #87
@larrykluger @LarryKlugerDS @MattKingDS @TonyMannDS @jwimberley-ds Would any of you happen to have an answer?

I did notice that when using an old version of `swagger-codegen` the classes that are generated look more like the ones in this repository. However there are some methods that are not generated, like for example the `generateAccessToken()` method.
Were the classes generated and edited aft

[2019-10-16 10:05] LarryKlugerDS commented on #87
Hi @4c0n,
Thank you for your questions.

## Contributing to the DocuSign eSignature PHP SDK.
Yes, we'd like to enable you and other developers to contribute to the SDK's development.

We're currently using a private fork of the CodeGen tool to generate the SDK from the Swagger file. So today, contributions to most of the SDK can't be provided as pull requests. -- But we **do** value your comments

[2019-10-16 12:25] 4c0n commented on #87
Hi @LarryKlugerDS,

Thanks for your response!
It's very useful. What I was missing mostly in the ApiClient is that yes there is a method `generateAccessToken()`, but unfortunately no `refreshAccessToken()` (In my fork I added it, so I'll send a PR for that later).
I noticed that with OpenAPI version 3 it is possible to generate the authentication related code as well and it requires very little ch

[2019-10-31 13:41] Krowemoh commented on #80
For now we commented out the lines referencing offline_attributes in models/in_person_signer.py, models/signer.py and models/witness.py

[2019-10-31 13:46] LarryKlugerDS commented on #80
Thank you for the update. I appreciate your time.

[2020-03-11 11:12] abarke opened #89 "Checkbox $tabGroup->setMaximumAllowed('1') not working"
Seems $tabGroup->setMaximumAllowed('1') is not working as expected. I can still select both checkboxes in the online signing ceremony.

I built this solution from this example on stackoverflow:
https://stackoverflow.com/a/58210277/11475075

[code]

Output:

[code]

[2020-03-18 08:52] LarryKlugerDS commented on #89
The possible `groupRule` values are `SelectAtLeast`, `SelectAtMost`, `SelectExactly`, `SelectARange`

**If you want a maximum of 1, then set `groupRule` to `SelectAtMost`**

The associated attributes are `minimumRequired`, `maximumAllowed`, as appropriate.

I have submitted Jira DEVDOCS-2087

[2020-03-18 08:52] #89 closed

[2020-03-20 09:16] abarke commented on #89
Thanks @LarryKlugerDS I assume the `minimumRequired` option is taken into account if I set `groupRule` to `SelectAtMost` or could I use `SelectExactly` one to make sure the user must check a box, but only one box (radio).

[2020-03-20 09:36] LarryKlugerDS commented on #89
No, I don't think that's right. If you want minimumrequired to be used in that way, you can't use selectatmost, use selectarange

[2020-03-23 13:56] chaosaround commented on #80
Still facing the same problem with v5.0.0.

[2020-03-23 15:10] LarryKlugerDS commented on #80
Hi, I am sorry that this hasn't been fixed yet. I have re-raised it to our engineering group with a cc to our vice president.

[2020-03-24 01:50] benburleson commented on #60
@larrykluger Almost a year later -- is there really any attention here?

[2020-03-24 05:55] LarryKlugerDS commented on #80
Hi, our engineering group requests that you check the latest release, version 5.1.0.
Please let me know if the problem is also in that release.
Thank you,
Larry

[2020-03-24 06:53] LarryKlugerDS commented on #60
Hi, our engineering group reports that this has been fixed in v5.1. Can you verify?
Thank you!

[2020-03-24 15:40] benburleson commented on #60
@larrykluger Can you point to a commit that addresses this? There is no activity on related issues/PRs, and no mention of this in release notes.

[2020-03-26 05:53] LarryKlugerDS commented on #60
Hi @benburleson ,
Our engineering group says that it is fixed within the model's definition for the forthcoming 5.1 release. Currently thats the 5.1.0-RC release -- RC means Release Candidate.

To install it: `composer require docusign/esign-client:v5.1.0-rc`

[Packagist listing](https://packagist.org/packages/docusign/esign-client)

[2020-03-28 23:41] chaosaround commented on #80
Hi @LarryKlugerDS,
Works great with v5.1.0-rc
Thank you all!

[2020-03-29 05:48] LarryKlugerDS commented on #80
Excellent, some good news. Thank you for your help.

[2020-03-29 05:50] #80 closed

[2020-04-11 19:35] jasminder opened #96 "Just sign frame in html page"
Hello, I just need the signature frame in the HTML form flow, just like Google Re Captcha get embedded in form. Is it possible anyway with Docusign / API. ?

[2020-04-12 12:59] LarryKlugerDS commented on #96
Unfortunately, no.

What you can do:

1. Create a template, then create a PowerForm, [intro](https://www.docusign.com/features-and-benefits/features/powerforms), [docs](https://support.docusign.com/en/guides/ndse-user-guide-using-powerforms), from it. Record the PowerForm's URL.
1. In your form, when the user clicks `Sign`, create a custom URL that includes query parameters. Use the query paramete

[2020-04-12 12:59] #96 closed

[2020-04-27 20:28] starvsion opened #97 "[v5.1.0] Class '\DocuSign\eSign\Model\DateTime' not found"
Hi, Seems that the SDK has errors right now,  something to do with DateTime ...

trace:

[code]

[2020-05-06 10:17] moromete commented on #23
The problem is still there. Please split the classes in separate files.

[2020-05-06 11:47] LarryKlugerDS commented on #78
Hi @abarke ,
DocuSign engineering reports that this problem has been solved. Can you verify?
Many thanks,
Larry

[2020-05-06 11:49] LarryKlugerDS commented on #71
Since LoginInformation (and the related legacy authentication techniques) have been deprecated for a couple of years now, I'm closing this issue as won't fix.

[2020-05-06 11:49] #71 closed

[2020-05-06 12:38] abarke commented on #78
Confirmed. Working with v5.0.0 and I dont see these errors anymore. Thanks.

[2020-05-06 13:04] LarryKlugerDS commented on #78
Excellent, thank you

[2020-05-06 13:04] #78 closed

[2020-06-04 13:41] BelloAM opened #102 "Call to a member function read() on string in ObjectSerializer.php:285"
I get this error whenever i run the EnvelopeApi\getDocument method. It seems that the $data being passed to the deserialize function is a string.

I managed to get it to work by changing line  285-287 to
[code]
Unfortunately; this change is always removed when we deploy to our servers

[2020-06-05 16:34] blorange2 opened #103 "Properly catching API exceptions"
In my application there is a small chance of error when sending, so I wrap this in a try catch block and catch a standard `Exception` as $exception.

So when I do `$exception->getResponseBody()` instead of getting on object, I get a string like so:

[code]

I want the message attribute but the response body is not an object.

I also tried json decoding it. Any ideas?

[2020-06-05 19:59] dbbrahmbhatt commented on #97
Hi @starvsion . Thanks for reporting this issue. It has been fixed in our latest release v5.2.0. Can you please verify?

[2020-06-07 08:33] LarryKlugerDS commented on #102
Thank you @BelloAM  for this problem report.
I have filed bug report DCM-4285

[2020-06-07 08:36] LarryKlugerDS commented on #102
Note that the EnvelopeApi\getDocument method should be updated to not write to a local file. See issue #56

[2020-06-07 09:04] LarryKlugerDS commented on #103
For the error you encountered, `$exception->getResponseBody()` returned a serialized object. (The object was created by the JSON error response.)

See the [source](https://github.com/docusign/docusign-php-client/blob/master/src/Client/ApiClient.php#L322).

So in this case, you'd [unserialize](https://www.php.net/manual/en/function.unserialize.php) it back into a PHP object.

But there can also be

[2020-06-15 10:12] fdiedler commented on #102
Hi,
I have the same problem since one week. When this bug will be fixed ?
Thanks

[2020-06-15 12:22] LarryKlugerDS commented on #102
Unfortunately we don't yet have a fix scheduled from the engineering group. I have asked them again.

[2020-06-15 12:27] fdiedler commented on #102
I am very embarrassed with this bug, we cannot retrieve contract file anymore and it blocks the onboarding of new clients in my company... Please correct it as soom as possible and thanks for asking them again about this bug. I think I am not the only people affected :)

Otherwise, It is possible to downgrade to a prior version withour the bug ? And if so, which version ?

Thanks, and looking forw

[2020-06-15 12:32] LarryKlugerDS commented on #102
I am sorry that  this is causing a problem for you.
The prior releases of the SDK are available from [GitHub](https://github.com/docusign/docusign-php-client/releases). They are also available from the [PHP Packagist site](https://packagist.org/packages/docusign/esign-client).

[2020-06-15 12:54] fdiedler commented on #102
Aie, I think I cannot downgrade because I use a wrapper :
tucker-eric/docusign-rest-client

So, I just removed the code that calls getDocument() method and I will wait for a fix and hope it will be soon :)

Thanks,

[2020-07-02 08:38] wehostadm commented on #102
Hi,

Just to say that I am always waiting for a fix for this bug as soon as possible.
It will be a shame and a waste of time if I need to recode the function getDocument()

Maybe use the quick fix of @BelloAM above and then do a better fix if needed ?

Thanks a lot for this DocuSign bundle.

[2020-07-02 09:29] LarryKlugerDS commented on #102
I've escalated the bug, but we don't yet have a schedule for the fix.

[2020-07-03 03:26] cgsmith commented on #102
Hi @LarryKlugerDS

Are pull requests welcomed for this? An option could be passed through to save contents to a variable.

[2020-07-03 05:40] LarryKlugerDS commented on #102
Hi @cgsmith ,
Re: pull requests -- thank you for asking!

We use a customized version of the Swagger CodeGen app to create all of the SDKs. We're working on open sourcing our customizations.

**Today:** if you make a pull request then our engineering team can use your ideas to change the underlying models used to produce the SDK.

**In the future:** you'll be able to directly propose a PR that wou

[2020-07-05 06:40] LarryKlugerDS commented on #102
Good news: the engineering group reports that this issue has been fixed n the RC release 5.3.0-RC.

**If you can, please test the release candidate to check that the fix works for you. Thank you.**

The 5.3.0-RC (release candidate):
* source: https://github.com/docusign/docusign-php-client/tree/5.3.0-rc-v2.1-20.2.00
* Packagist: https://packagist.org/packages/docusign/esign-client

The PRs:

https

[2020-07-15 15:31] LarryKlugerDS commented on #97
No update since Jun 5....closing. Please respond if this is still an issue. Thank you.

[2020-07-15 15:31] #97 closed

[2020-07-15 15:33] LarryKlugerDS commented on #102
No reply for 10 days. Closing. Please comment to re-open if there's still an issue. Thank you, Larry

[2020-07-15 15:33] #102 closed

[2020-07-15 15:36] LarryKlugerDS commented on #60
No reply for since Mar 26. Closing. Please comment to re-open if there's still an issue. Thank you, Larry

[2020-07-15 15:36] #60 closed

[2020-07-15 15:38] LarryKlugerDS commented on #48
I'm told this is fixed in v5.1.
Please respond and we'll re-open the issue if there is still a bug. Thank you.

[2020-07-15 15:38] #48 closed

[2020-07-16 12:59] yohio commented on #23
Issue still persist

[2020-07-22 13:55] dgoring opened #111 "Brand ID in the wrong place"
if you go by this https://developers.docusign.com/esign-rest-api/code-examples/brands-sending-envelope

The brand id is assigned to the individual signer not the entire envelope.

the brand_id setters and getters need to been moved from the EnvelopeDefinition model to the Signer model.

[2020-08-13 09:52] LarryKlugerDS commented on #111
A brand_id is assigned to the envelope definition, not to the signer object.

You've spotted a bug in the bash example, thank you! The other examples correctly show the brand_id as part of the envelope definition.

I have filed internal ticket DEVDOCS-3130

Regards,
Larry

[2020-08-13 09:56] dgoring commented on #111
No I've tested this and it works when the brand_id is put as part Signer Model

It does nothing when you assign it to the envelope, the bash is correct to API and the PHP is wrong

[2020-08-13 10:15] LarryKlugerDS commented on #111
Hmmm, interesting. I will look into it further.
I've re-opened the issue.

[2020-09-01 20:13] dbbrahmbhatt commented on #69
Issue has been resolved

[2020-09-01 20:13] #69 closed

[2020-09-02 07:49] dbbrahmbhatt commented on #76
Issue has been resolved

[2020-09-14 18:31] LarryKlugerDS commented on #111
One of our engineers has tested this and his results show that the `brandId` is part of the envelope definition, not the signer definition. This is also confirmed by the Swagger file.

Additional attributes are ignored by DocuSign, so placing a brandId in the signer object will have no affect.
Thanks,
Larry

[2020-09-14 18:31] #111 closed

[2020-09-15 05:10] xinghul commented on #76
hey, can you elaborate how to solve this? @dbbrahmbhatt
I got the same error when trying to void the envelope:
[code]

[2020-09-15 06:13] LarryKlugerDS commented on #76
I have re-opened the issue and have pinged the engineer for more information.

[2020-09-15 16:51] dbbrahmbhatt commented on #76
Hi @xinghul ,
Apologies as I was not much clear in my earlier response. The issue here was, when we get the recipient info from the envelope, we were not able to use the same method body of "GET" action into the "POST" action because "POST" action was not accepting the "IdentityVerification" field in the same way we were getting it from the "GET" action. But as this issue was very old, I just reve

[2020-09-18 18:46] dbbrahmbhatt commented on #103
Hi @blorange2 ,
we have fixed this for the forthcoming 5.5 release. Currently thats the 5.5.0-RC release -- RC means Release Candidate.

To install it: `composer require docusign/esign-client:v5.5.0-rc`

Please validate from your side and let us know if you still face the issue.

[2020-09-18 18:56] dbbrahmbhatt commented on #83
Hi @nie7321  ,
we have fixed this for the forthcoming 5.5 release. Currently thats the 5.5.0-RC release -- RC means Release Candidate.

To install it: `composer require docusign/esign-client:v5.5.0-rc`

Please validate from your side and let us know if you still face the issue.

[2020-09-24 13:42] sukhdevsmartdata opened #118 "Docusign - Unable to get signatureimage from the envelope created by android"
Hi there,
I am using this rest API to get signatureimage from the envelope
**Api Documentation:** https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/Envelopes/getRecipientSignatureImage/

And I am getting signature image from envelopes which are created by Web & IOS but for android's Envelope api is throwing this error

**{
    "errorCode": "RESOURCE_NOT_FOUND",
    "message":

[2020-09-30 23:16] christiaanschmid commented on #70
@larrykluger This issue seems to still remain today.

I can replicate this error with a Dropdown field on my document and the following code

[code]

This results in: `PHP Error:  Class '/DocuSign/eSign/Model/array' not found`

When looking at the Tabs model, there is a `swaggerTypes` array containing the property to type mappings. For `list_tabs` the type is `\DocuSign\eSign\Model\array[]`. That

[2020-10-08 11:21] ReyazBeigh opened #121 "Expected a refresh token method"
Hi Team,

was expecting a method to get token from refresh_token and didn't find one. I have added a method to ApiClient locally and that worked for me. Here is the definition

`docusign-php-client/src/Client/ApiClient.php`

`public function refreshAccessToken($client_id = null, $client_secret = null, $code = null)`
   `{
        if (!$client_id) {
            throw new \InvalidArgumentException('

[2020-10-12 21:58] dbbrahmbhatt commented on #118
Hi @sukhdevsmartdata. Thanks for reporting the issue. I see that android envelope is signed offline ("deliveryMethod": "offline") where as IOS envelope is signed via email. Are you getting this issue in android envelope which has "deliveryMethod": "email"? Also, Can you please post the your code snippet which you are using for fetching android envelope's signature image?

[2020-10-14 05:32] RiaanBez commented on #70
Hi

I am also experiencing this problem would like to be kept in the loop with the ETA on the fix

Best Regards
Riaan

[2020-10-21 12:22] alxvgt commented on #23
I see this issue is already closed but i encountered the same problem with an integration in Symfony.
[code]
Here is my code block :
[code]

It seems that the psr4 autoload rules is not respected. The filename need to be the same than the class name as the path need to match the namespace.
@gsnavin Could you reopen this issue ?

[2020-10-21 12:42] alxvgt commented on #23
A workaround can be used if you edit your composer.json as shown beelow. You can add a "classmap" entry to generate an additional autoload mapping.

[code]

[2020-10-26 23:02] tcov189 opened #123 "Issue with Composer v2"
After installing or updating with Composer 2, classes under the `\DocuDign\eSign` namespace cannot be found.

Reverting back to Composer 1 resolves issue.

Please update to make compatible with Composer 2.

[2020-10-27 12:53] LarryKlugerDS commented on #123
Thank you for the problem report! I have filed internal request  DCM-4854.

[2020-11-01 09:05] LarryKlugerDS commented on #121
Thank you!

In addition, some PHP OAuth client libraries include support for refreshing tokens.

[2020-11-01 10:18] #121 closed

[2020-11-01 10:22] LarryKlugerDS commented on #118
Next step for these issues is to provide an API log of the request/response.
See [API logging](https://support.docusign.com/en/guides/ndse-user-guide-api-request-logging)

Also, since this is not an issue with the SDK itself, please ask as a question on StackOverflow with tag `docusignapi`

Thank you.

[2020-11-01 10:22] #118 closed

[2020-11-01 21:42] dbbrahmbhatt commented on #121
Refresh token is added in v5.7.0

[2020-11-02 14:21] tcov189 commented on #123
@LarryKlugerDS Hello, I was wondering if there was any update or time frame on this?

[2020-11-02 14:32] LarryKlugerDS commented on #123
I have now escalated the issue. I will also bring it up in the VP's meeting next week.
A Pull Request would be very helpful for moving this along.
Thank you

[2020-11-02 19:43] tcov189 commented on #123
I think what needs to happen to get this to work is that the files that contain multiple class definitions need to be abstracted out into their own classes.

I was going to make a PR for this, but I noticed that all of the files are generated by swagger-codegen and wasn't sure if that would just recreate the single file multi class definitions again.

[2020-11-02 20:04] LarryKlugerDS commented on #123
Aah, got it. You're correct about Swagger CodeGen, we'll need to update its templates. So please don't do a PR.
Thanks for the investigation.

[2020-11-03 08:52] LarryKlugerDS commented on #123
Please connect with me on LinkedIn: https://linkedin.com/in/larrykluger

[2020-11-03 09:40] ValdarRudman commented on #76
Hi @dbbrahmbhatt
I am getting the same error as @xinghul

[code]
The error I am getting is
`'{"errorCode":"INVALID_REQUEST_BODY","message":"The request body is missing or improperly formatted."}'`

The creation of the envelope works, I can run through the signing process ok. I am returning a redirect url.

[2020-11-03 10:17] LarryKlugerDS commented on #76
@ValdarRudman ,
Please post the [API Log](https://support.docusign.com/en/guides/ndse-user-guide-api-request-logging) for the PHP SDK call that you show in your issue.

We can then compare what was sent vs what the API wants.

[2020-11-03 10:30] ValdarRudman commented on #76
Sorry i posted this in the wrong place. I am using node.

[2020-11-10 15:28] tcov189 commented on #123
@LarryKlugerDS I was wondering if there were any updates on this?

[2020-11-10 18:47] DylanGD opened #126 "hirak/prestissimo issue with composer"
Related to #[14](https://github.com/docusign/code-examples-php/issues/14)

[2020-11-11 19:46] RyanPnayR commented on #76
I was wracking my brain as to why I was getting this error. I was doing it through postman. It wasn't until I looked at the code snippet option that I noticed my issue. It was setting the url to `curl --location --request POST 'https://demo.docusign.net/restapi/v2.1/accounts//envelopes/recipients' \` instead of `curl --location --request POST 'https://demo.docusign.net/restapi/v2.1/accounts/a09***

[2020-11-12 06:57] LarryKlugerDS commented on #123
Update: I will be emphasizing the importance of this issue in a meeting with the VP and engineering group this evening

[2020-11-12 07:01] LarryKlugerDS commented on #123
Related information from https://github.com/docusign/code-examples-php/issues/14
From https://github.com/DylanGD

[2020-11-12 07:03] LarryKlugerDS commented on #126
Duplicate of # https://github.com/docusign/docusign-php-client/issues/123

[2020-11-12 07:04] #126 closed

[2020-11-12 07:09] LarryKlugerDS commented on #103
Fixed in release 5.5.0

Please re-open this issue if this is still a problem. Thank you

[2020-11-12 07:09] #103 closed

[2020-11-12 07:12] LarryKlugerDS commented on #83
Fixed in v5.5. Please re-open if this is still an issue. Thank you

[2020-11-12 07:12] #83 closed

[2020-11-12 07:19] LarryKlugerDS commented on #76
Also see https://stackoverflow.com/a/56432948/64904
I will be investigating further

[2020-11-17 11:05] LarryKlugerDS commented on #123
The engineer working on this issue updated his composer to v2 and then loaded https://github.com/docusign/code-examples-php

He reports that there were no problems.

Can you provide a concise reproducible test case that fails with Composer v2? Thank you!

[2020-11-17 15:39] tcov189 commented on #123
@LarryKlugerDS I created a fork and added a test file
https://github.com/tcov189/docusign-php-client/blob/composer-2-compatibility/test.php

Let me know if this is not a sufficient test and I can expand.

[2020-11-17 17:35] LarryKlugerDS commented on #123
Great, thank you @tcov189 .

[2020-11-18 17:59] dbbrahmbhatt commented on #123
Hi @tcov189 thanks for reporting the issue and sending the test file. Our swagger-spec is common for all the languages and classes are generated based on the swagger-spec. Changing it might create problem in all other SDKs. So the best solution to resolve this issue is to add the classmap in autoload of your composer.json file.

`"autoload": {
        "classmap": [
            "vendor/docusign/esi

[2020-11-19 14:51] tcov189 commented on #123
I will try this and let you know if I still get an issue. Thanks for looking into it.

[2020-11-19 14:51] #123 closed

[2020-11-20 08:12] LarryKlugerDS commented on #123
Hi @tcov189 -- sounds like the suggestion solved the problem.  I will ask the engineer to update the Readme file.
/Larry

[2020-12-13 10:50] khalyomede opened #127 "Get the error message when a 401 occurs"
I am trying to send an envelope, and the code throws a 401 error:

The issue is that I don't know why I am getting this error, since in the code, on line 2872 of file `vendor/docusign/esign-client/src/Api/EnvelopesApi.php`, throws an `ApiException`...

[code]

...and in line 287 of file `vendor/docusign/esign-client/src/ApiClient.php`, it shadows the cURL error message (only setting the erorr stat

[2020-12-17 11:17] ivdinkovds commented on #127
@khalyomede, you can try reading what is returned to **$data = json_decode($http_body)**. In your case I can see only one error popping up all the time "IN_PERSON_SIGNING_HOST_MUST_BE_VALID_USER". I hope this helps

[2020-12-21 18:27] khalyomede commented on #127
Thanks @ivdinkovds, we figured out this was an issue with our job queues maintaining an old user that have been changed. We managed to fix our already queued up jobs by changing the uuid of the user and it worked well since then.

[2020-12-21 18:27] #127 closed

[2021-02-10 19:31] adrienlamotte opened #130 "EventNotification - Webhook - JSON"
Hello,

I'm using EventNotification class to define my webhook. I can see you can choose between XML/JSON when I use the website to create the hook :

![image](https://user-images.githubusercontent.com/2301651/107561226-92847c80-6bde-11eb-8222-d2950f5a30b2.png)

But I can't find a way to ask for JSON when creating the hook programmatically like :

[code]

Is this possible?
Thanks for you help!

[2021-02-13 20:00] EdwinMoralesDS commented on #130
You can change the format from XML to JSON by adding eventData to your eventNotification  object

The event data should contain the following information:

    "eventData":{
             "version": "restv2.1",
             "format": "json",
             "includeData":  ["tabs","payment_tabs","custom_fields","powerform","recipients","folders","extensions","attachments","Documents"]
    },

You can

[2021-02-18 11:30] wehostadm opened #131 "Error HTTPS_REQUIRED_FOR_CONNECT_LISTENER"
Hi,

Since few days, I had an error when creating a recipient view for DocuSign. Nothing has changed in my code, I don't understand the issue.

The error is :
_[critical] Uncaught PHP Exception DocuSign\eSign\Client\ApiException: "Error while requesting server, received a non successful HTTP code [400] with response Body:  O:8:"stdClass":2:{s:9:"errorCode";s:35:"HTTPS_REQUIRED_FOR_CONNECT_LISTENER

[2021-02-20 22:12] LarryKlugerDS commented on #131
It's not the RecipientViewRequest that is causing the error, it is your create envelope call.

You're including an eventNotification attribute that is using a url that starts with http. It needs to start with https.

See this [StackOverflow answer](https://stackoverflow.com/questions/66064133/docusign-error-https-required-for-connect-listener/66082555#66082555)

I'm sorry this was breaking change

[2021-02-22 08:55] wehostadm commented on #131
Thanks, it works now

[2021-02-22 08:55] #131 closed

[2021-05-03 11:24] Eugentis opened #136 "[Need help] Prepared envelope registered but not sent to email"
Hi! I am just starting to work with your lib and need some help in first steps.

I need to have template for sending to defined in code recipients with prefilled data.

I have template with fullName field and one sign field
![image](https://user-images.githubusercontent.com/17436084/116869661-2b48f800-ac22-11eb-82b7-ba0aa00cfd88.png)

In code I am creating new envelope. Code example is:
[code]

En

[2021-05-03 11:53] Eugentis commented on #136
One more moment - email was not received

[2021-05-03 12:38] Eugentis commented on #136
Published at stack overflow

[2021-05-03 12:38] #136 closed

[2021-05-07 10:42] r00d1k opened #138 "Problem with Dropdown tabs"
I faced with fatal error when I fetch Tab list from template's document which contain dropdown. In Tabs model defined `'list_tabs' => '\DocuSign\eSign\Model\array[]',` but this model doesn't exist. But I found unused \DocuSign\eSign\Model\ModelList which fits better to process this data.
There is pull request with fix. https://github.com/docusign/docusign-esign-php-client/pull/137

[2021-05-12 11:39] ORudenkoAS commented on #138
Hello. Kindly remind you to check my pull request. it would be grateful if you add this fix in official repo.

[2021-05-12 11:40] r00d1k commented on #138
Hello. Kindly remind you to check my pull request. it would be grateful if you add this fix in official repo.

[2021-06-08 17:37] dbbrahmbhatt commented on #138
Hi @r00d1k . Thank you for reporting the issue. Fix has been added to the latest PHP releases 6.2.0 (for v2.1) and 4.10.0 for (v2).

[2021-06-08 17:37] #138 closed

[2021-09-09 13:07] adrienfr commented on #23
@LarryKlugerDS is it possible to re-open this issue or should we create another one?

The issue is still here, psr-4 autoload is not respected in `DocuSign\eSign\Api\TemplatesApi.php` and `DocuSign\eSign\Api\EnvelopesApi.php`, there should be only one file for each class.

[2021-09-09 14:30] LarryKlugerDS commented on #23
@adrienfr  -- Thank you for your comment. I've re-opened the issue and notified the product manager. He'll work with our engineering group on the issue.

[2021-10-05 00:17] iyyappanpwilco opened #154 "Updating Email subject on Resending Envelope"
Hi,

We need to update the email subject of signer1 and signer2 during the resending the envelope

Kindly help us property to include to achieve it

[2021-10-27 07:13] realx4rd opened #156 "Tabs assigned to signer & still showing free from signing on embedded signing"
### Actual Preview
![screenshot-demo docusign net-2021 10 27-12_04_43](https://user-images.githubusercontent.com/52707173/139016799-9dac6162-9b92-4d53-bac1-720513fb9379.png)

### Envelope Code
      private function make_envelope($args)
      {

        $filename = 'file.pdf';

        $demo_docs_path = asset($filename);

        $arrContextOptions=array(
            "ssl"=>array(

[2021-10-28 20:23] #156 closed, assigned to nobody

[2021-11-04 17:24] treytt opened #158 "EnvelopesApi updateDocument passing values"
Hello, I am trying to rename a document before sending it to be signed. When calling $envelope->updateDocument I am not able send any updated values aside from account_id, document_id, envelope_id

Ref: https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopedocuments/update/

[2021-11-07 22:02] mtariqsajid opened #159 "cannot get the document from 6.5 version ?"
on 6.4 version the file was save on the php://temp

but on 6.5 version it is saving on the php://memory

how to change it to php://temp

[code]

[2021-11-10 13:22] EdwinMoralesDS commented on #158
This issue was recently reported with another SDK, we are tracking this under bug number DCM-6703. Please ask your DocuSign support contact to add your company's information to the bug report. I don't have a schedule for a fix.

In the meantime, as a workaround, you can try to call the API directly without using the SDK. Another option is to modify your code so it includes the updated name in the

[2021-11-10 16:21] treytt commented on #158
Thanks much for the response @EdwinMoralesDS, is that possible when calling a template ID?

`$envelope_definition->setTemplateId('XXX');`

[2021-11-11 03:13] ndench commented on #159
Yeah I just got caught by this breaking change too. You can see the change in the [PR on ObjectSerializer](https://github.com/docusign/docusign-esign-php-client/pull/157/files#diff-9404b06372b4f8584ec7f9942b5e4f1a780718a68e99045e2f3e25759fee8a55).

You need to manually write the data to disk:

[code]

[2021-11-11 17:06] EdwinMoralesDS commented on #158
Hello,

It is possible to change the name of the document but you will have to include the file in your API call. This documents explains how to use composite templates to overwrite the file in your template.

https://www.docusign.com/blog/dsdev-from-the-trenches-composite-templates

[2021-11-16 13:47] Eugentis commented on #159
@ndench could you clarify the reason for this modification?

As I can see it is not comfortable to receive file from DS now....

[2021-11-17 20:01] #159 closed

[2021-11-21 02:18] ndench commented on #159
@Eugentis this modification is because the DocuSign client now saves the document in `php://memory` instead of writing it to disk. The code I posted above is almost exactly the same as the DocuSign client used to do in order to write the file to disk, as you can see in the [PR that made the change](https://github.com/docusign/docusign-esign-php-client/pull/157/files#diff-9404b06372b4f8584ec7f9942b

[2021-11-23 05:01] mira-thakkar commented on #159
@ndench so using this package, you were getting empty file on downloading the document ?

[2022-01-24 14:11] #87 closed

[2022-02-02 09:36] Wimble84 opened #163 "Can't create envelope since update from 6.5.1 to 6.6.0"
Hi

Since I updated from 6.5.1 to 6.6.0. I get an invalid request body error response when trying to create an envelope.
I do the request by this way :

[code]

Did I make any error somwhere ?

Thanks

[2022-02-02 10:23] #163 closed

[2022-02-25 21:08] jmiller42ce commented on #158
@EdwinMoralesDS can you avoid having to include the file in the API call by passing a `ServerTemplate` in the composite template?

[2022-03-03 11:48] Theo4 opened #165 "Not working on php 8+"
Hello,

Trying to use the lib on a php8+ version and it doesn't work. A lot of deprecated notice and impossible to authenticate are main problems.

Is there any planned update ?

Thank you,

[2022-03-03 18:48] JonathanPort opened #166 "VSCode not resolving Docusign classes but they are working"
I composer installed in a standard laravel 9 project, trying to pull the dependency into a class:

use Docusign\eSign\Client\ApiClient;
use DocuSign\eSign\Configuration;
use DocuSign\Ect

The problem is vscode intelliphense is saying "Undefined type 'Docusign\eSign\Client\ApiClient'" and marking the file as failed. The classes are working however it's just VSCode reporting them as broken because o

[2022-03-03 18:52] JonathanPort commented on #166
Sorry my bad, worked it out.

[2022-03-04 10:14] plezan commented on #165
Hello, we also have have this deprecations notice :
```Return type of DocuSign\eSign\Model\*** should either be compatible with ArrayAccess::offsetSet(mixed $offset, mixed $value): void, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice```
on every Docusign model using offsets :
- `offsetSet($offset, $value)`
- `offsetUnset($offset)`
- `offsetExists($offse

[2022-03-04 10:27] Crysalist commented on #55
@decadeofdefeat can you elaborate on how exactly you did it?

[2022-03-05 19:20] decadeofdefeat commented on #55
This happened so long ago that I honestly don't remember.

[2022-03-07 07:15] Crysalist commented on #55
Finally found it - the body cannot be null you need to replace it with "{}"
so in the end it looked something like this:
`$update_summary = $envelopeApi->update($account_id, $env_id, "{}", $updateOptions);`

[2022-03-07 20:32] dbbrahmbhatt commented on #165
Thank you for filing the issue. We are currently working on the fix for this. Update will be posted here once the fix is shipped.

[2022-03-15 23:00] dbbrahmbhatt commented on #165
Issue has been fixed using `#[\ReturnTypeWillChange]` attribute in release [6.7.1](https://github.com/docusign/docusign-esign-php-client/releases/tag/v6.7.1)

[2022-03-15 23:00] #165 closed

[2022-04-11 01:43] utilmind opened #168 "UsersApi::getContactById/getContactByIdWithHttpInfo doesn't allow to specify GET-parameters to HTTP request, to receive more than 1st page"
Hello!

Unfortunately Docusign UserApi from SDK returns only first page of contacts (maximum 20 contacts per request), when I retrieving the LIST of contacts (without specifying the {contactId} parameter).

Typical response to getContactById() method of UsersApi is the array with following values:
[code]

I wish I could add "startPosition" and "count" parameters to request. Without additional GET-

[2022-04-11 11:48] SayedHusseinElsayed commented on #168
the below Get method is working with parameter startPosition
{{baseUrl}}/v2.1/accounts/{{accountId}}/contacts?startPosition=10

[2022-04-11 12:01] utilmind commented on #168
Of course. But unfortunately there is no way to specify startPosition parameter using getContactById() method.

[2022-04-11 13:30] SayedHusseinElsayed commented on #168
you can have a look to the below blog post
https://www.docusign.com/blog/developers/v2-userslist-paging-change

[2022-04-11 18:59] LarryKlugerDS commented on #168
I believe you set query parameters via the SDK method's `option` argument.

See https://github.com/docusign/docusign-esign-php-client/blob/beefddccf32a9c58ab96428fa203a67fa0843c7e/src/Api/UsersApi.php#L1977

[2022-04-11 20:13] utilmind commented on #168
No, the $options have no effect to custom HTTP-parameters. It's only can be used to set up "cloud_provider" parameter, but anything else.

Here is the original PHP code:

[code]

My solution added $queryParams, but it still have backward compatibility. If $queryParams has "object" type it considered as $options.

[code]

[2022-04-11 20:18] utilmind commented on #168
It's quite possible that code described in that blog post works with NodeJS, but certainly not with PHP SDK.
Unfortunately in PHP with original SDK you have no any possibility to specify custom parameters to your query.
I demonstrated it in the code snippets above.

Anyway, my solution already works for me, I'm successfully receiving the full list of contacts, page by page. Hopefully my fix will b

[2022-04-12 13:52] LarryKlugerDS commented on #168
Thanks for checking the options idea. I will alert the SDK product manager to this issue.
/Larry

[2022-04-13 10:21] unicorn610 opened #171 "ApiClient refreshAccessToken throw ApiException with code 400"
I call the refreshAccessToken method with client_id, client_secret, refresh_token, but get 400 code of response. After failing, I successfully using same value to get new token by postman.

The error message is "Error while requesting server, received a non successful HTTP code [400] with response Body:  O:8:"stdClass":1:{s:5:"error";s:15:"invalid_request";}"

[2022-04-13 13:53] ivdinkovds commented on #171
Hi @unicorn610, As far as I know, the [API Client](https://github.com/docusign/docusign-esign-csharp-client/blob/master/sdk/src/DocuSign.eSign/Client/ApiClient.cs) does not have a call for a refresh token.  Would you be able to share the method and expand on where you are seeing this method?

[2022-04-14 01:06] karankaushik95 commented on #171
Hey, this sounds like it could use a bit more investigation. Could you open a support ticket with us: https://support.docusign.com/s/contactSupport?language=en_US&rsc_301 so my developer support team can investigate this further?

[2022-04-18 18:04] hcker2000 commented on #23
I also just ran into this issue just now. Any updates on this?

[2022-04-19 03:31] unicorn610 commented on #171
Hi, is the support only for paid customer? My developer account cannot login the support system. Currently, I'm helping my client to verify could this product meet their requirement.

[2022-04-19 04:41] karankaushik95 commented on #171
Hey - no not at all

On the page I linked, there's a tab for DocuSign API Integration Support with a form in it. If you fill that out, it will get sent to us.

[2022-04-22 07:58] unicorn610 commented on #171
After testing, I found the refresh token API (/oauth/token) only accept form-data but the method refreshAccessToken in ApiClient uses x-www-form-urlencoded. That's might be the reason why I got error [400] response. I got [200] response after I remove the 'Content-Type' => 'application/x-www-form-urlencoded'. Maybe you should check is the
[code]

[2022-04-25 06:46] jglassenberg commented on #168
Hi everyone, this ticket is still under investigation by the engineers on our team. I can't provide details just yet but this is a priority item for us to review.

[2022-04-25 06:50] utilmind commented on #168
No problem. And BTW I can submit some more fixes for DocuSign SDK for PHP. It's not critical, I already fixed it for my project, but this could be useful for new users.

[2022-04-26 12:02] wehostadm opened #172 "Cannot install the last version due to the firebase/php-jwt version"
Hi,

I was unable to install the last version

[code]

It seems that the package requires firebase/php-jwt version: ^5.0

Or my local version of firebase/php-jwt version is
_firebase/php-jwt                    v6.1.2    A simple library to encode and decode JSON Web Tokens (JWT) in PHP. ..._

So it does not match the requirements...

How can I do ?

Thanks,

[2022-04-27 06:03] karankaushik95 commented on #172
Based on what I read here - https://stackoverflow.com/questions/65421249/laravel-unable-to-add-new-package, can you try removing your composer.lock file and try running the command again?

[2022-04-29 06:10] jglassenberg commented on #168
If you have other fixes, much appreciated.  We can review those issues and fixes as we continue to improve our SDKs.

[2022-05-20 05:11] #171 closed

[2022-06-08 14:12] nicosp opened #174 "Consider making firebase/php-jwt version requirement more relaxed."
Is it possible to change the dependency from : "firebase/php-jwt": "^5.0" to  "firebase/php-jwt": "^5.0 || ^6.0" ?

The current strict dependency prevents us from updating.

[2022-06-13 15:34] lucasfraulin opened #175 "Error: Call to undefined method DocuSign\eSign\Client\Auth\OAuthToken::swaggerFormats() in DocuSign\eSign\ObjectSerializer::sanitizeForSerialization() (line 71 of /app/vendor/docusign/esign-client/src/ObjectSerializer.php)"
Trying to create an envelope while using the eSignature API with JWT authentication. When attempting to create the envelope, I get this error. The OAuthToken doesn't seem to have that method defined but the Object Serializer is still trying to call it.

[code]

Any help is greatly appreciated.

[2022-06-22 16:08] smd9788 commented on #175
Hi @lucasfraulin , can you please verify what version of the SDK you are using and if you installed the Composer dependencies?

If you are still having issues, I would recommend that you open a support case with DocuSign here: http://support.docusign.com/.
They would be best equipped to assist you with the issue.

[2022-06-24 10:44] bbeckford commented on #174
We also require this dependency change, please 👍

[2022-07-13 08:24] Karthikeyan-SBS commented on #172
We also like this upgrade happen soon, currently our builds scan are giving below error:

Vulnerability - CVE-2021-46743
Only fix needed is "Upgrade to version v6.0.0 Message: Upgrade to version Details: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-46743"

[2022-07-13 22:31] karankaushik95 commented on #172
Hi @Karthikeyan-SBS thanks for flagging this. Our SDK team is already aware of this issue and they are working towards a fix. The RC of our SDK due to be released this week will patch this.

[2022-07-20 19:14] #175 closed

[2022-07-22 12:58] ArthurGuy commented on #174
Same here, it's blocking the installation of another package

[2022-08-16 19:24] wizhippo commented on #174
Same here,

After reading the JWT 6.0 BC breaks and searching for them in the code here, non of them apply so it should be just a version bump without any issue.

[2022-09-29 08:43] ChangingTerry commented on #172
Any movement on this?

[2022-09-30 05:31] karankaushik95 commented on #172
Hi @ChangingTerry This should already be resolved, are you still facing issues?

[2022-09-30 16:25] tomjamon opened #181 "Fields not visible for Signer"
Hi, i'm not sure i'm speaking at the right place but i have a small problem with the API.
I call createRecipientView() to retrieve a sign URL for my clients and redirect them.
Everything work fine except added fields on my template (drag&drop in the admin) but they're not visibles for my clients and i don't know why. I should miss something simple. Have you any ideas why ?

The role name is the sa

[2022-10-04 11:05] ChangingTerry commented on #172
Sorry, yes I am.

Unless I'm missing something it would seem that the current version still relies on version 5.0 of firebase/jwt?

[2022-10-21 08:50] apsylone commented on #174
So long to wait for a minor fix like this... Still blocking on my side too !
@Adrian-DS-Support any news on this ticket opened 6 month ago ?

Thanks,

[2022-10-21 08:52] apsylone commented on #172
I still have this issue too on my side @karankaushik95 @ChangingTerry .

[2022-10-25 07:50] adrienfr commented on #23
@harsharahul, could we please have your input on this issue?

[2022-10-25 11:39] klimslim commented on #174
firebase/php-jwt has a vulnerability CVE-2021-46743 that was fixed in 6.x only. This issue should definitely be fixed.

[2022-10-25 13:05] Dr-Shadow commented on #174
This seems to be a blocking issue on our side as well.

We would like to add docusign as a new eSign provider in our application.

Any news from the SDK team about this ? @karankaushik95 @Adrian-DS-Support

[2022-10-28 22:19] dalmarcolucas commented on #76
the situation with the is not happening anymore, but now we are having the same problem with the "signers[0].recipientSignatureProviders[0].signatureProviderOptions".

It is returned as an array, and when sending the put request it demands to be and object:

`"{"errorCode":"INVALID_REQUEST_BODY","message":"The request body is missing or improperly formatted. Cannot deserialize the current JSON arr

[2022-11-11 23:38] dbbrahmbhatt commented on #172
Hello All, Thank you for filing the issue. We have added the support for firebase/php-jwt 6.* in release [6.12.0-rc](https://github.com/docusign/docusign-esign-php-client/releases/tag/v6.12.0-rc). Please let us know if you still face the issue.

[2022-11-11 23:38] #172 closed

[2022-11-11 23:43] dbbrahmbhatt commented on #174
Hello All, Thank you for filing the issue. We have added the support for firebase/php-jwt 6.* in release [6.12.0-rc](https://github.com/docusign/docusign-esign-php-client/releases/tag/v6.12.0-rc).

[2022-11-11 23:43] #174 closed